In [8]:
import sqlalchemy
import pandas as pd
import numpy as np
engine = sqlalchemy.create_engine('mysql://root:password@127.0.0.1:3306/nba')

In [298]:
sql = """
select l.game_date_est,
-- PLAYER STATS
t.PLAYER_ID,
t.MIN as player_MIN,
t.FGA as player_FGA,
t.FGM as player_FGM,
t.FG3M as player_FG3M,
t.FG3A as player_FG3A,
t.FTA as player_FTA,
t.FTM as player_FTM,
t.OREB as player_OREB,
t.DREB as player_DREB,
t.AST as player_AST,
t.STL as player_STL,
t.BLK as player_BLK,
t.TO as player_TO,
t.PTS as player_PTS,
a.OFF_RATING as player_OFF_RATING,
a.DEF_RATING as player_DEF_RATING,
a.NET_RATING as player_NET_RATING,
a.PIE as player_PIE,
t.PLUS_MINUS as player_PLUS_MINUS,
-- PLAYER TEAM STATS
t_p.PLUS_MINUS as team_PLUS_MINUS,
-- OPPOSING TEAM STATS
t_o.OREB as opponent_OREB,
t_o.DREB as opponent_DREB,
t_o.STL as opponent_STL,
t_o.BLK as opponent_BLK,
a_o.OFF_RATING as opponent_OFF_RATING,
a_o.DEF_RATING as opponent_DEF_RATING,
a_o.NET_RATING as opponent_NET_RATING,
t.score
from traditional_boxscores t
join line_score l on l.game_id = t.game_id and l.team_id = t.team_id
join advanced_boxscores a on a.game_id = t.game_id and a.player_id = t.player_id and a.team_id = t.team_id
join advanced_boxscores_team a_o on t.game_id = a_o.game_id and t.team_id != a_o.team_id
join traditional_boxscores_team t_p on t_p.game_id = t.game_id and t.team_id = t_p.team_id
join traditional_boxscores_team t_o on t_o.game_id = t.game_id and t.team_id != t_o.team_id
"""
og_df = pd.read_sql(sql, engine)
og_df['game_date_est'] = pd.to_datetime(og_df.game_date_est)
og_df['player_MIN'] = og_df['player_MIN'].apply(lambda t: int(t.split(":")[0]) * 60 + int(t.split(":")[1]))
og_df.sort_values(['PLAYER_ID', 'game_date_est'], inplace=True)

df = og_df

df.head()

,game_date_est,PLAYER_ID,player_MIN,player_FGA,player_FGM,player_FG3M,player_FG3A,player_FTA,player_FTM,player_OREB,...,player_PLUS_MINUS,team_PLUS_MINUS,opponent_OREB,opponent_DREB,opponent_STL,opponent_BLK,opponent_OFF_RATING,opponent_DEF_RATING,opponent_NET_RATING,score
41,2015-10-27,101106,1122,6,6,0,0,0,0,1,...,17,16,8,25,9,3,89.7,106.0,-16.3,29.75
2266,2015-11-09,101106,1138,7,4,0,0,0,0,5,...,11,14,12,29,9,3,95.4,109.3,-13.9,21.75
2620,2015-11-11,101106,898,3,1,0,0,2,1,0,...,6,16,10,31,14,5,86.7,98.9,-12.2,11.75
2728,2015-11-12,101106,1263,3,2,0,0,0,0,2,...,0,13,15,32,4,1,115.0,127.7,-12.6,22.00
3134,2015-11-14,101106,1913,7,5,0,0,0,0,5,...,3,8,11,39,12,4,92.5,101.5,-9.0,49.00

In [303]:
grouped_players = df.groupby('PLAYER_ID')
player_play_time = grouped_players['player_MIN'].sum()

import operator

sorted_play_times = sorted(player_play_time.iteritems(), key=operator.itemgetter(1), reverse=True)

top_player_ids = [player_id for (player_id, playtime) in sorted_play_times[:200]]

top_player_ids[0:5] # debug

['201935', '203114', '202330', '202331', '200768']

In [304]:
cols = df.keys()
initial_cols = cols
excluded = ['game_date_est', 'PLAYER_ID', 'score', 'index']
# df for every game that every player played in
player_games = pd.DataFrame()

# watch out for PLUS_MINUS! everything else can be averaged. Need to delete index before render to CSV!

for i, player_id in enumerate(top_player_ids):
    if (i + 1) % 20 == 0:
        print "%0.2f%%" % ((float(i + 1) / len(top_player_ids)) * 100),
    player_df = df[(df['PLAYER_ID'] == player_id)].sort_values(['game_date_est'])
    player_df['index'] = range(len(player_df)) 
    for col in cols:
        if 'PLUS_MINUS' not in col and col not in excluded:
            # take a cumulative sum, but remove the value of the current row!
            cumulative_sum = player_df[col].cumsum() - player_df[col]
            player_df[col + '_prev_out'] = pd.rolling_mean(player_df[col], 1).shift(1)
            player_df[col + '_mean_3_out'] = pd.rolling_mean(player_df[col], 3).shift(1)
            player_df[col + '_mean_5_out'] = pd.rolling_mean(player_df[col], 5).shift(1)
            player_df[col + '_mean_out'] = cumulative_sum.div(player_df['index'] + 1)
        #elif 'PLUS_MINUS' in col:
        #    cumulative_sum = player_df[col].cumsum() - player_df[col]
        #    player_df[col + '_cumsum_out'] = cumulative_sum
    player_games = player_games.append(player_df.fillna(0))

10.00% 20.00% 30.00% 40.00% 50.00% 60.00% 70.00% 80.00% 90.00% 100.00%

In [305]:
cols = player_games.keys()
# we want score to come last!
csv_cols = [col for col in cols if col not in excluded and col.endswith('_out')] + ['score']

# exclude first 10 games of the season
output_player_games = player_games[player_games['index'] > 10]

output_player_games

,game_date_est,PLAYER_ID,player_MIN,player_FGA,player_FGM,player_FG3M,player_FG3A,player_FTA,player_FTM,player_OREB,...,opponent_OFF_RATING_mean_5_out,opponent_OFF_RATING_mean_out,opponent_DEF_RATING_prev_out,opponent_DEF_RATING_mean_3_out,opponent_DEF_RATING_mean_5_out,opponent_DEF_RATING_mean_out,opponent_NET_RATING_prev_out,opponent_NET_RATING_mean_3_out,opponent_NET_RATING_mean_5_out,opponent_NET_RATING_mean_out
3683,2015-11-18,201935,2844,29,11,4,15,20,19,1,...,106.92,97.658333,92.1,95.166667,98.66,90.241667,14.1,11.366667,8.22,7.408333
3894,2015-11-20,201935,2136,15,7,1,7,8,7,0,...,104.68,97.361538,96.1,95.366667,96.46,90.692308,-2.2,7.533333,8.20,6.669231
4194,2015-11-21,201935,2298,20,8,3,4,5,5,1,...,102.42,97.450000,80.6,89.600000,92.44,89.971429,18.1,10.000000,10.00,7.485714
4766,2015-11-25,201935,2454,19,12,5,9,11,11,1,...,105.52,98.973333,114.2,96.966667,96.18,91.586667,6.1,7.333333,9.36,7.393333
5027,2015-11-27,201935,2409,28,14,6,12,20,16,2,...,104.58,99.287500,96.0,96.933333,95.80,91.862500,8.0,10.733333,8.82,7.431250
5462,2015-11-29,201935,2718,28,10,0,7,10,6,3,...,106.26,100.188235,113.4,107.866667,100.06,93.129412,1.2,5.100000,6.24,7.064706
5499,2015-11-30,201935,2542,15,6,2,4,17,15,1,...,108.96,100.583333,113.9,107.766667,103.62,94.283333,-6.6,0.866667,5.36,6.305556
5909,2015-12-02,201935,2260,20,7,1,8,10,9,0,...,112.60,101.436842,104.7,110.666667,108.44,94.831579,12.2,2.266667,4.18,6.615789
6193,2015-12-04,201935,2168,23,10,1,6,5,4,1,...,107.60,101.130000,102.7,107.100000,106.14,95.225000,-7.4,-0.600000,1.48,5.915000
6324,2015-12-05,201935,2143,14,6,5,6,16,14,0,...,106.64,101.038095,105.4,104.266667,108.02,95.709524,-6.2,-0.466667,-1.36,5.338095
6788,2015-12-08,201935,2121,9,2,1,5,6,5,0,...,105.30,101.350000,117.7,108.600000,108.88,96.709091,-9.8,-7.800000,-3.56,4.650000
6915,2015-12-09,201935,2402,23,13,5,9,12,11,2,...,105.84,101.726087,101.5,108.200000,106.40,96.917391,8.5,-2.500000,-0.54,4.817391
7508,2015-12-12,201935,1899,21,11,3,5,5,5,0,...,101.82,101.516667,101.9,107.033333,105.84,97.125000,-5.2,-2.166667,-4.02,4.400000
7837,2015-12-14,201935,2063,20,9,5,8,3,1,1,...,101.10,101.124000,122.0,108.466667,109.70,98.120000,-30.3,-9.000000,-8.60,3.012000
7938,2015-12-15,201935,2187,18,10,4,8,12,9,1,...,105.02,101.803846,110.4,111.433333,110.70,98.592308,8.4,-9.033333,-5.68,3.219231
8294,2015-12-17,201935,2168,24,7,2,9,10,9,2,...,103.30,101.711111,90.6,107.666667,105.28,98.296296,8.7,-4.400000,-1.98,3.422222
8632,2015-12-19,201935,2023,13,4,0,4,10,10,0,...,100.02,101.421429,109.8,103.600000,106.94,98.707143,-16.1,0.333333,-6.90,2.725000
8928,2015-12-21,201935,2098,16,9,2,7,19,16,1,...,99.38,101.148276,103.3,101.233333,107.22,98.865517,-9.8,-5.733333,-7.82,2.293103
9158,2015-12-23,201935,2415,18,12,2,4,6,5,0,...,100.10,100.953333,102.0,105.033333,103.22,98.970000,-6.6,-10.833333,-3.08,1.996667
9436,2015-12-25,201935,2280,21,7,2,6,5,4,0,...,99.02,101.354839,109.2,104.833333,102.98,99.300000,4.2,-4.066667,-3.92,2.067742
9550,2015-12-26,201935,2034,21,8,5,11,4,4,1,...,96.94,100.965625,93.2,101.466667,103.50,99.109375,-4.3,-2.233333,-6.52,1.868750
10080,2015-12-29,201935,2325,16,6,3,6,12,11,0,...,101.52,101.436364,115.1,105.833333,104.56,99.593939,1.3,0.400000,-3.04,1.851515
10387,2015-12-31,201935,2065,19,8,5,10,9,9,0,...,105.86,101.841176,112.6,106.966667,106.42,99.976471,2.7,-0.100000,-0.54,1.876471
10764,2016-01-02,201935,1826,10,6,2,5,3,3,1,...,109.18,102.128571,108.1,111.933333,107.64,100.208571,3.8,2.600000,1.54,1.931429
11111,2016-01-04,201935,2532,25,9,4,12,9,8,2,...,111.36,102.744444,106.7,109.133333,107.14,100.388889,17.6,8.033333,4.22,2.366667
11525,2016-01-07,201935,2047,25,13,0,7,10,7,2,...,114.50,102.794595,106.6,107.133333,109.82,100.556757,-2.0,6.466667,4.68,2.248649
11993,2016-01-10,201935,2554,20,8,2,9,4,3,0,...,111.10,102.707895,112.6,108.633333,109.32,100.873684,-13.2,0.800000,1.78,1.842105
12228,2016-01-12,201935,1996,13,6,4,9,10,9,1,...,107.24,102.533333,95.4,104.866667,105.88,100.733333,0.5,-4.900000,1.34,1.807692
12410,2016-01-13,201935,2075,22,8,2,10,11,9,0,...,105.42,102.540000,121.8,109.933333,108.62,101.260000,-19.0,-10.566667,-3.22,1.287500
12827,2016-01-15,201935,2295,10,2,0,5,7,7,0,...,101.74,102.621951,107.3,108.166667,108.74,101.407317,-1.4,-6.633333,-7.02,1.221951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9665,2015-12-26,201589,1205,6,3,0,0,0,0,0,...,111.32,101.174074,103.3,113.300000,112.46,95.796296,-5.8,1.100000,-1.12,5.381481
9804,2015-12-27,201589,1152,5,1,1,2,2,2,2,...,111.34,101.503571,89.9,101.033333,105.52,95.585714,20.5,6.000000,5.84,5.921429
10138,2015-12-29,201589,1206,6,3,0,1,0,0,1,...,116.86,102.513793,119.7,104.300000,109.90,96.417241,11.2,8.633333,7.00,6.103448
10338,2015-12-30,201589,789,4,1,1,2,0,0,1,...,109.22,102.236667,87.1,98.900000,101.98,96.106667,7.1,12.933333,7.26,6.136667
10803,2016-01-02,201589,1048,9,6,0,0,1,0,3,...,108.84,102.529032,105.8,104.200000,101.16,96.419355,5.5,7.933333,7.70,6.116129
10908,2016-01-03,201589,1182,6,3,1,3,0,0,1,...,111.30,102.756250,103.7,98.866667,101.24,96.646875,6.0,6.200000,10.06,6.112500
11352,2016-01-06,201589,1791,8,3,1,4,0,0,3,...,112.54,103.175758,111.4,106.966667,105.54,97.093939,5.1,5.533333,6.98,6.081818
11602,2016-01-08,201589,1534,12,6,0,1,0,0,3,...,103.84,102.708824,90.2,101.766667,99.64,96.891176,-2.9,2.733333,4.16,5.817647
12033,2016-01-10,201589,1667,5,3,1,1,2,2,0,...,104.74,102.594286,89.0,96.866667,100.02,96.665714,9.7,3.966667,4.68,5.928571
12453,2016-01-13,201589,1567,11,8,0,0,2,2,2,...,101.34,102.363889,100.9,93.366667,99.04,96.783333,-6.6,0.066667,2.26,5.580556
12817,2016-01-15,201589,1824,12,8,0,0,2,2,1,...,100.78,102.489189,108.4,99.433333,99.98,97.097297,-1.4,0.566667,0.78,5.391892
13107,2016-01-17,201589,1365,8,3,1,1,0,0,2,...,98.24,102.526316,97.5,102.266667,97.20,97.107895,6.4,-0.533333,1.04,5.418421
13408,2016-01-19,201589,1710,3,0,0,1,4,4,1,...,105.68,103.089744,119.8,108.566667,103.12,97.689744,4.8,3.266667,2.58,5.402564
13731,2016-01-21,201589,1479,4,1,0,1,2,2,0,...,106.46,103.077500,99.2,105.500000,105.16,97.727500,3.4,4.866667,1.32,5.352500
14137,2016-01-23,201589,2058,4,2,0,0,0,0,0,...,109.36,103.217073,110.5,109.833333,107.08,98.039024,-1.7,2.166667,2.30,5.180488
14359,2016-01-25,201589,1131,7,1,0,1,0,0,0,...,108.70,103.228571,108.6,106.100000,107.12,98.290476,-4.9,-1.066667,1.60,4.940476
14640,2016-01-27,201589,594,3,0,0,2,0,0,0,...,111.38,103.555814,101.7,106.933333,107.96,98.369767,15.6,3.000000,3.44,5.188372
14828,2016-01-28,201589,1279,6,4,1,1,5,4,1,...,107.72,103.615909,99.0,103.100000,103.80,98.384091,7.2,5.966667,3.92,5.234091
15162,2016-01-30,201589,1100,6,2,0,3,2,2,2,...,108.88,103.722222,113.0,104.566667,106.56,98.708889,-4.6,6.066667,2.32,5.015556
15556,2016-02-01,201589,1090,2,0,0,2,0,0,0,...,107.30,103.660870,96.3,102.766667,103.72,98.656522,4.6,2.400000,3.58,5.006522
17392,2016-02-19,201589,1008,7,2,0,2,2,0,1,...,105.50,103.470213,110.2,106.500000,104.04,98.902128,-15.5,-5.166667,1.46,4.570213
17573,2016-02-21,201589,717,2,1,0,0,0,0,0,...,102.82,103.479167,99.6,102.033333,103.62,98.916667,4.3,-2.200000,-0.80,4.564583
17945,2016-02-23,201589,1500,8,5,4,4,0,0,1,...,104.02,103.657143,95.3,101.700000,102.88,98.842857,16.9,1.900000,1.14,4.816327
18181,2016-02-24,201589,1116,4,0,0,3,0,0,0,...,103.98,103.748000,100.3,98.400000,100.34,98.872000,7.9,9.700000,3.64,4.878000
18456,2016-02-26,201589,1776,9,5,1,2,2,2,2,...,100.14,103.315686,85.7,93.766667,98.22,98.613725,-4.0,6.933333,1.92,4.703922
18913,2016-02-29,201589,1630,7,4,1,4,0,0,2,...,104.68,103.586538,111.9,99.300000,98.56,98.869231,5.5,3.133333,6.12,4.719231
19304,2016-03-02,201589,1445,5,2,1,3,0,0,1,...,105.40,103.660377,105.0,100.866667,99.64,98.984906,2.4,1.300000,5.74,4.675472
19592,2016-03-04,201589,1518,1,0,0,1,0,0,1,...,105.24,103.803704,118.5,111.800000,104.28,99.346296,-7.2,0.233333,0.92,4.455556
19855,2016-03-06,201589,527,3,1,0,0,0,0,1,...,106.38,103.987273,114.3,112.600000,107.08,99.618182,-0.4,-1.733333,-0.74,4.367273
20129,2016-03-08,201589,1458,6,4,2,3,0,0,0,...,111.60,104.055357,103.6,112.133333,110.66,99.689286,4.2,-1.133333,0.90,4.364286

In [306]:
data_cols = [col for col in csv_cols if col != 'score']
target_cols = ['score']
input_df = output_player_games[csv_cols]
shuffled = input_df.reindex(np.random.permutation(input_df.index))

nba_input_data  = shuffled[data_cols].as_matrix()
nba_target_data = shuffled['score'].as_matrix()

nba_input_data

array([[  2.15100000e+03,   2.05600000e+03,   2.03460000e+03, ...,
          1.06333333e+01,   1.31800000e+01,  -1.14782609e+00],
       [  2.26200000e+03,   1.98666667e+03,   1.92460000e+03, ...,
          2.18333333e+01,   1.94200000e+01,   1.06500000e+01],
       [  1.06400000e+03,   1.29966667e+03,   1.22860000e+03, ...,
          5.60000000e+00,   6.16000000e+00,   1.05790323e+01],
       ...,
       [  1.40000000e+03,   1.55666667e+03,   1.60320000e+03, ...,
         -6.90000000e+00,   4.80000000e-01,  -1.32380952e+00],
       [  1.44300000e+03,   1.50733333e+03,   1.38140000e+03, ...,
          1.86666667e+00,   3.66000000e+00,  -2.82758621e+00],
       [  4.59000000e+02,   1.00833333e+03,   1.30780000e+03, ...,
          2.40000000e+00,   6.96000000e+00,   2.66862745e+00]])

In [307]:
import numpy as np
from sklearn import cross_validation, preprocessing
from sklearn.metrics import mean_squared_error

import skflow

# Create random dataset.
X = nba_input_data
y = nba_target_data

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2, random_state=42)

scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

# 9.8 mean error!
hidden_units = [1000, 1000]
regressor = skflow.TensorFlowDNNRegressor(hidden_units=hidden_units, steps=1000, learning_rate=0.1, batch_size=100)

regressor.fit(X_train, y_train)
score = mean_squared_error(regressor.predict(X_test), y_test)
print("Mean Squared Error for {0}: {1:f}".format(str(hidden_units), score))

Step #1, avg. loss: 784.88776
Step #101, epoch #1, avg. loss: 195.60242
Step #201, epoch #2, avg. loss: 176.54510
Step #301, epoch #3, avg. loss: 159.37184
Step #401, epoch #5, avg. loss: 150.26752
Step #501, epoch #6, avg. loss: 138.09308
Step #601, epoch #7, avg. loss: 133.01128
Step #701, epoch #9, avg. loss: 119.73224
Step #801, epoch #10, avg. loss: 111.49689
Step #901, epoch #11, avg. loss: 103.65797
Mean Squared Error for [1000, 1000]: 152.847709

In [308]:
result = regressor.predict(scaler.fit_transform(nba_input_data))

result

array([[ 37.97844696],
       [ 29.20907211],
       [  9.89583397],
       ...,
       [ 23.02983665],
       [ 28.63240623],
       [ 22.49826431]], dtype=float32)

In [15]:
import urllib2
from bs4 import BeautifulSoup

schedule_url = "http://www.nba.com/gameline/20160310/"
html = urllib2.urlopen(schedule_url).read()

In [309]:
# grab today's (03/09) games from nba.com

soup = BeautifulSoup(html, 'html.parser')
game_divs = soup.findAll("div", { "class" : "nbaTeamsRow" })
games = []
for div in game_divs:
    teams = tuple([str(team_div.text) for team_div in div.findAll("h5")])
    if teams not in games:
        games.append(teams)

        
# only consider players from teams that are playing today
todays_teams = []
for (t1, t2) in games:
    if t1 not in todays_teams:
        todays_teams.append(t1)
    if t2 not in todays_teams:
        todays_teams.append(t2)
teams_sql = ",".join(["'%s'" % team_abbr for team_abbr in todays_teams])
sql = "select distinct team_abbreviation, TEAM_ID from line_score where TEAM_ABBREVIATION in (%s)" % teams_sql
df = pd.read_sql(sql, engine)

# helpful
abbr_id_map = {}
for (abbr, tid) in df.values:
    abbr_id_map[abbr] = int(tid)

sql = 'select distinct team_id, player_id from traditional_boxscores'
team_player_df = pd.read_sql(sql, engine)

from collections import defaultdict

# map team_id to a list of player_ids
team_player_map = defaultdict(list)
for (team_id, player_id) in team_player_df.values:
    if int(player_id) not in team_player_map[int(team_id)]:
        team_player_map[int(team_id)].append(int(player_id))

In [105]:
# make a new dataframe (predict_df) w/ only elligible players

player_id_set = set()
predict_df = pd.DataFrame()
for player_ids in team_player_map.values():
    for player_id in player_ids:
        player_id_set.add(player_id)
        player_df = output_player_games[output_player_games['PLAYER_ID'] == str(player_id)]
        predict_df = predict_df.append(player_df)

In [310]:
def add_row(player_id): 
    player_df = predict_df[(predict_df['PLAYER_ID'] == str(player_id))].sort_values(['game_date_est'])
    player_df['index'] = range(len(player_df))
    
    if len(player_df) == 0:
        return None
    
    tmp_row = player_df.tail(1)
    new_row = pd.DataFrame(columns=["game_date_est"], data=[pd.to_datetime('2016-03-09')])
    for col in initial_cols:
        if col not in ['index', 'game_date_est']:
            new_row[col] = tmp_row[col].values[0]
    
    for col in initial_cols:
        if 'PLUS_MINUS' not in col and col not in excluded and len(player_df) > 0:
            cumulative_sum = player_df[col].cumsum()
            try:
                new_row[col + '_prev_out'] = pd.rolling_mean(player_df[col], 1).values[-1]
                new_row[col + '_mean_3_out'] = pd.rolling_mean(player_df[col], 3).values[-1]
                new_row[col + '_mean_5_out'] = pd.rolling_mean(player_df[col], 5).values[-1]
                new_row[col + '_mean_out'] = cumulative_sum.div(player_df['index'] + 1).values[-1]
            except ValueError as e:
                pass # lol
    return new_row

In [311]:
# add a new row for each player-game (above)!
# sort predict_df by player_id, game_date_est

player_games = pd.DataFrame()

for i, player_id in enumerate(player_id_set):
    if i % 100 == 0:
        print "%d out of %d [%d]" % (i, len(player_id_set), len(player_games))
    new_row = add_row(player_id)
    if new_row is None:
        continue
    player_games = player_games.append(new_row.fillna(0))

0 out of 463 [0]
100 out of 463 [35]
200 out of 463 [77]
300 out of 463 [125]
400 out of 463 [170]

In [312]:
data_cols = [col for col in csv_cols if col != 'score']
prediction_data = player_games[data_cols].as_matrix()

expected_scores = regressor.predict(scaler.fit_transform(prediction_data))

player_scores = {}
for player_id, score in zip(player_games['PLAYER_ID'].values, [i[0] for i in expected_scores]):
    player_scores[player_id] = score
    
sorted_players = sorted(player_scores.items(), key=operator.itemgetter(1), reverse=True)

predicted = []
for player_id, score in sorted_players[0:20]:
    sql = 'select player_name from traditional_boxscores where player_id = %d limit 1' % int(player_id)
    name = pd.read_sql(sql, engine).values[0][0]
    #print "%s: %d" % (name, player_scores[player_id])
    predicted.append((name, player_scores[player_id]))

In [313]:
# scores via: http://rotoguru1.com/cgi-bin/hyday.pl?mon=3&day=9&year=2016&game=fd&scsv=1

real_data = open('actual_data.txt').read().split('\n')

In [314]:
actual = [(i.split(";")[3], i.split(";")[5]) for i in real_data[1:21]]
ideal = actual[0:20]

data = []
for p, i in zip(predicted, ideal):
    data.append([i[0], i[1], p[0], p[1]])
    
df = pd.DataFrame(columns=["Actual player", "Actual_Score", "Predicted Player", "Predicted Score"], data=data)

In [315]:
df

,Actual player,Actual_Score,Predicted Player,Predicted Score
0,"Westbrook, Russell",67.2,Brook Lopez,51.817562
1,"Walker, Kemba",57.9,Karl-Anthony Towns,48.604355
2,"Harden, James",51.8,Russell Westbrook,47.272369
3,"Paul, Chris",48.6,Rudy Gay,46.850449
4,"Holiday, Jrue",47.8,DeMarcus Cousins,46.587219
5,"Middleton, Khris",40.4,Stephen Curry,46.486671
6,"Collison, Darren",38,Brandon Knight,46.296665
7,"Irving, Kyrie",37.2,Anthony Davis,46.222435
8,"Booker, Devin",34.1,Khris Middleton,45.198471
9,"Thomas, Isaiah",34.1,Chris Paul,45.051495
10,"Curry, Stephen",33.6,Ricky Rubio,44.874084
11,"Calderon, Jose",33.4,Jimmy Butler,44.671688
12,"Beverley, Patrick",32.3,Thaddeus Young,44.059582
13,"Vujacic, Sasha",30.5,Rajon Rondo,43.631104
14,"Redick, J.J.",29.7,John Wall,43.607693
15,"Caldwell-Pope, Kentavious",29.5,Paul Millsap,43.577675
16,"Batum, Nicolas",28.7,Derrick Favors,43.552681
17,"Wade, Dwyane",28.6,Nikola Vucevic,41.947121
18,"Williams, Deron",27.5,Kobe Bryant,41.798203
19,"Smith, Ishmael",26.9,Draymond Green,41.738926