In [203]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql://root:password@127.0.0.1:3306/nba')

In [204]:
sql = """
select l.game_date_est,
-- PLAYER STATS
t.PLAYER_ID,
t.MIN as player_MIN,
t.FGA as player_FGA,
t.FGM as player_FGM,
t.FG3M as player_FG3M,
t.FG3A as player_FG3A,
t.FTA as player_FTA,
t.FTM as player_FTM,
t.OREB as player_OREB,
t.DREB as player_DREB,
t.AST as player_AST,
t.STL as player_STL,
t.BLK as player_BLK,
t.TO as player_TO,
t.PTS as player_PTS,
a.OFF_RATING as player_OFF_RATING,
a.DEF_RATING as player_DEF_RATING,
a.NET_RATING as player_NET_RATING,
a.PIE as player_PIE,
t.PLUS_MINUS as player_PLUS_MINUS,
-- PLAYER TEAM STATS
t_p.PLUS_MINUS as team_PLUS_MINUS,
-- OPPOSING TEAM STATS
t_o.OREB as opponent_OREB,
t_o.DREB as opponent_DREB,
t_o.STL as opponent_STL,
t_o.BLK as opponent_BLK,
a_o.OFF_RATING as opponent_OFF_RATING,
a_o.DEF_RATING as opponent_DEF_RATING,
a_o.NET_RATING as opponent_NET_RATING,
t.score
from traditional_boxscores t
join line_score l on l.game_id = t.game_id and l.team_id = t.team_id
join advanced_boxscores a on a.game_id = t.game_id and a.player_id = t.player_id and a.team_id = t.team_id
join advanced_boxscores_team a_o on t.game_id = a_o.game_id and t.team_id != a_o.team_id
join traditional_boxscores_team t_p on t_p.game_id = t.game_id and t.team_id = t_p.team_id
join traditional_boxscores_team t_o on t_o.game_id = t.game_id and t.team_id != t_o.team_id
"""
df = pd.read_sql(sql, engine)
df['game_date_est'] = pd.to_datetime(df.game_date_est)
df['player_MIN'] = df['player_MIN'].apply(lambda t: int(t.split(":")[0]) * 60 + int(t.split(":")[1]))
df.sort_values(['PLAYER_ID', 'game_date_est'], inplace=True)

In [205]:
df.describe()

,player_MIN,player_FGA,player_FGM,player_FG3M,player_FG3A,player_FTA,player_FTM,player_OREB,player_DREB,player_AST,...,player_PLUS_MINUS,team_PLUS_MINUS,opponent_OREB,opponent_DREB,opponent_STL,opponent_BLK,opponent_OFF_RATING,opponent_DEF_RATING,opponent_NET_RATING,score
count,19099.00000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,...,19099.00000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000,19099.000000
mean,1362.43264,7.920048,3.570553,0.786114,2.229488,2.206869,1.667888,0.977172,3.128227,2.068956,...,0.00000,0.088853,10.387455,33.335515,7.853343,4.907901,103.464265,103.562673,-0.098366,20.095437
std,636.28014,5.535739,2.944344,1.206140,2.488292,2.813314,2.263906,1.368490,2.702235,2.430241,...,10.57049,13.928047,3.780242,5.270383,3.075363,2.563683,11.219630,11.228678,14.720604,13.824956
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-47.00000,-51.000000,1.000000,16.000000,0.000000,0.000000,65.200000,65.200000,-62.300000,-1.000000
25%,909.00000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,-7.00000,-10.000000,8.000000,30.000000,6.000000,3.000000,95.700000,95.800000,-10.700000,9.500000
50%,1398.00000,7.000000,3.000000,0.000000,2.000000,2.000000,1.000000,0.000000,3.000000,1.000000,...,0.00000,1.000000,10.000000,33.000000,8.000000,5.000000,103.500000,103.600000,-0.100000,18.250000
75%,1871.00000,11.000000,5.000000,1.000000,4.000000,4.000000,3.000000,1.000000,5.000000,3.000000,...,7.00000,10.000000,13.000000,37.000000,10.000000,7.000000,111.200000,111.200000,10.500000,28.500000
max,3437.00000,36.000000,24.000000,12.000000,17.000000,36.000000,21.000000,13.000000,19.000000,20.000000,...,45.00000,51.000000,24.000000,55.000000,21.000000,15.000000,139.300000,139.300000,62.300000,93.500000

In [206]:
cols = df.keys()
excluded = ['game_date_est', 'PLAYER_ID', 'score', 'index']
# df for every game that every player played in
player_games = pd.DataFrame()

# watch out for PLUS_MINUS! everything else can be averaged. Need to delete index before render to CSV!
i = 0

player_groups = df.groupby('PLAYER_ID').groups
for player_id in player_groups:
    if i % 50 == 0:
        print "%0.2f%% complete" % ((float(i) / len(player_groups)) * 100)
    i += 1
    player_df = df[(df['PLAYER_ID'] == player_id)].sort_values(['game_date_est'])
    player_df['index'] = range(len(player_df)) 
    for col in cols:
        if 'PLUS_MINUS' not in col and col not in excluded:
            cumulative_sum = player_df[col].cumsum()
            player_df[col + '_cumsum'] = cumulative_sum
            player_df[col + '_prev'] = pd.rolling_mean(player_df[col], 1)
            player_df[col + '_mean_3'] = pd.rolling_mean(player_df[col], 3)
            player_df[col + '_mean_5'] = pd.rolling_mean(player_df[col], 5)
            player_df[col + '_mean'] = cumulative_sum.div(player_df['index'] + 1)
    player_games = player_games.append(player_df.fillna(0))

0.00% complete
10.89% complete
21.79% complete
32.68% complete
43.57% complete
54.47% complete
65.36% complete
76.25% complete
87.15% complete
98.04% complete

In [207]:
cols = player_games.keys()
# we want score to come last!
csv_cols = [col for col in cols if col not in excluded] + ['score']
pct_train = 0.90
num_train = int(len(player_games) * pct_train)
num_validate = len(player_games) - num_train
player_games.head(num_train).to_csv('pybrain-practice/data/train.csv', header=False, columns=csv_cols, index=False)
player_games.tail(num_validate).to_csv('pybrain-practice/data/validation.csv', header=False, columns=csv_cols, index=False)

In [208]:
player_games.tail(10)

,game_date_est,PLAYER_ID,player_MIN,player_FGA,player_FGM,player_FG3M,player_FG3A,player_FTA,player_FTM,player_OREB,...,opponent_DEF_RATING_cumsum,opponent_DEF_RATING_prev,opponent_DEF_RATING_mean_3,opponent_DEF_RATING_mean_5,opponent_DEF_RATING_mean,opponent_NET_RATING_cumsum,opponent_NET_RATING_prev,opponent_NET_RATING_mean_3,opponent_NET_RATING_mean_5,opponent_NET_RATING_mean
16017,2016-02-05,203488,760,2,2,0,0,0,0,0,...,3846.8,105.4,110.333333,101.94,103.967568,-165.6,-5.3,-17.366667,-2.88,-4.475676
16451,2016-02-07,203488,658,2,0,0,1,0,0,2,...,3945.1,98.3,105.133333,103.42,103.818421,-168.2,-2.6,-13.366667,-7.60,-4.426316
16632,2016-02-08,203488,832,2,1,0,0,2,2,2,...,4048.1,103.0,102.233333,106.46,103.797436,-164.5,3.7,-1.400000,-10.20,-4.217949
16964,2016-02-10,203488,1074,7,5,1,2,0,0,3,...,4162.7,114.6,105.300000,106.60,104.067500,-188.5,-24.0,-7.633333,-12.08,-4.712500
17220,2016-02-19,203488,404,1,1,0,0,2,2,1,...,4267.7,105.0,107.533333,105.26,104.090244,-185.3,3.2,-5.700000,-5.00,-4.519512
17451,2016-02-20,203488,490,0,0,0,0,0,0,0,...,4358.6,90.9,103.500000,102.36,103.776190,-178.8,6.5,-4.766667,-2.64,-4.257143
17811,2016-02-22,203488,155,0,0,0,0,0,0,0,...,4447.9,89.3,95.066667,100.56,103.439535,-167.4,11.4,7.033333,0.16,-3.893023
18438,2016-02-26,203488,798,5,2,0,1,2,2,3,...,4553.5,105.6,95.266667,101.08,103.488636,-186.4,-19.0,-0.366667,-4.38,-4.236364
18713,2016-02-28,203488,799,5,2,0,0,0,0,2,...,4650.0,96.5,97.133333,97.46,103.333333,-196.6,-10.2,-5.933333,-1.62,-4.368889
19063,2016-03-01,203488,141,1,0,0,0,0,0,0,...,4754.4,104.4,102.166667,97.34,103.356522,-197.7,-1.1,-10.100000,-2.48,-4.297826